@import "font";
@import "reset";
@import "utilities";
@import "form";
@import "common";

body {
  font-size: $fontMd;
  font-weight: $font600;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 100vh;
  background: #fff;
}



header {
  min-height: 80px;
  background-color: #0075c2;
  padding: 0 100px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    color: #fff;
    box-sizing: border-box;
    h1.logo {
      width: 224px;
      height: 40px;
      background: url("../images/svg/h1-logo.svg") left top no-repeat;
      background-size: contain;
      font-size: 0;
    }

    .lnb {
      & > button {
        width: 40px;
        height: 40px;
        font-size: 0;
        margin-left: 12px;

        &.notice {
          background: url("../images/svg/icon-notice.svg") left top no-repeat;
          background-size: contain;
          position: relative;

          .noticePopup {
            border-radius: 20px 0px 20px 20px;
            background: #e7f2f9;
            display: inline-flex;
            min-width: 250px;
            height: 40px;
            padding: 8px 16px;
            justify-content: flex-end;
            align-items: center;
            color: #0c0c0d;
            position: absolute;
            right: 17px;
            top: 36px;
            font-size: 14px;
            font-weight: 600;
            z-index: 100;
            overflow: hidden;


            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;

            &.show {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
              transition: opacity 0.5s ease, transform 0.5s ease;

            }
          }

          i {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ff567f;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        &.keep {
          background: url("../images/svg/icon-keep.svg") left top no-repeat;
          background-size: contain;
          position: relative;
          .keepPopup {
            border-radius: 20px;
            background: #fff;
            width: 1019px;
            height: 816px;
            padding: 20px;
            color: #0c0c0d;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
            position: absolute;
            right: -23px;
            top: 39px;
            font-size: 14px;
            font-weight: 600;
            z-index: 101;
            overflow: hidden;
            text-align: left;


            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;

            &.show {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
              transition: opacity 0.5s ease, transform 0.5s ease;

            }

            button.close{
              background: url("../images/svg/icon-close.svg") center center no-repeat;
              width: 32px;
              height: 32px;
              background-size: contain;
              position: absolute;
              right: 20px;
              top: 10px;

            }

            h4 {
              color: #4d545b;
              font-size: 16px;
              margin-bottom: 20px;
            }

            .popupContent {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              
              h5.info {
                color: #0c0c0d;
                font-size: 16px;
                margin-bottom: 10px;
                b {
                  color: #219bf1;
                }
              }
              .curationWrap {
                width: 342px;
                margin-right: 40px;

                .curationCont {
                  padding: 20px;
                  height: 610px;
                  background-color: #fafafa;
                  text-align: left;
                  overflow-y: scroll;

                  h6 {
                    color: #7996b7;
                    margin-bottom: 10px;
                  }

                  .curationBox {
                    //height: 298px;
                    padding: 10px 0;
                    margin-bottom: 20px;
                    &:last-of-type{
                      margin-bottom: 0;
                      height: 204px;
                    }
                    & > button{
                      border: 1px solid transparent;
                      background-color: #fff;
                      padding: 14px;
                      display: block;
                      height: 92px;
                      margin-bottom: 4px;
                      dl {
                        dt{
                          display: flex;
                          justify-content: space-between;
                          font-weight: 600;
                          height: 24px;
                          margin-bottom: 5px;

                          em{
                            width: 28px;
                            height: 24px;
                            border-radius: 12px;
                            background-color: #219BF1;
                            color: #fff;

                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                          }
                        }
                        dd{
                          color: #7F8896;
                          font-size: 12px;



                          span{
                            @include ellipsisLine;
                            -webkit-line-clamp: 2;
                            line-height: 16px;
                            padding: 0;
                            text-align: left;
                          }
                        }
                      }

                      &.on{
                        background-color: #F6FCFF;
                        border: 1px solid #219BF1;
                         dt{
                           color: #219BF1;
                         }
                      }
                    }
                  }
                }
              }

              .myBoxWrap {
                flex: 1;
                overflow-y: scroll;


                .myBoxChecked{
                  .allChecked{
                    background-color: #fafafa;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 5px 15px;
                    margin-bottom:5px;

                    div.btn{
                      .btn.bgWhite{
                        color: #000000;
                        font-size: 14px;
                        border-radius: 6px;
                        border:1px solid #D5E0E7;
                       min-width: 45px;
                        height: 28px;
                      }
                    }
                  }

                  .allList{
                    background-color: #fff;
                    padding: 15px;
                    overflow-y: auto;
                    height: 260px;

                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 50px;


                    & > button{
                      border: 1px solid #F1F1F1;
                      border-radius: 12px;
                      height: 66px;
                      width: 48%;
                      margin-right: 10px;
                      margin-bottom: 10px;
                      text-align: left;
                      padding: 15px 20px;
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;

                      &:last-of-type{
                        margin-right: 0;
                      }

                      &.on{
                        border: 1px solid #219BF1;
                      }

                      & > label{
                        width: 20px;
                        margin-right: 10px;
                      }

                      & > span{
                        flex: 1;
                        strong{
                          @include ellipsisLine;
                          -webkit-line-clamp: 1;
                          line-height: 16px;
                        }

                        em{
                          font-size: 12px;
                          color: #BEC7CD;
                          font-weight: 400;

                          b{
                            color: #7F8896;
                          }
                        }
                      }
                    }
                  }


                }
                .myBoxList{
                  background-color: #F6FCFF;
                  padding: 20px;
                  height: 215px;
                  overflow-y: auto;
                  //display: flex;
                  //justify-content: flex-start;
                  //flex-wrap: wrap;
                  //align-items: flex-start;
                  //

                  .cont{
                    background-color: #fff;
                    width: 49%;
                    height: 36px;
                    border-radius: 12px;
                    border: 1px solid #F1F1F1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px 14px;
                    float: left;
                    margin-bottom: 10px;
                    margin-left: 8px;

                    &:last-of-type{
                      margin-bottom: 0;
                    }
                    &:nth-of-type(odd){
                      margin-left: 0;
                    }

                    .del{
                      width: 16px;
                      height: 16px;
                      background: url("../images/svg/icon-close-gray.svg") center center no-repeat;
                      background-size: contain;
                    }
                    & > span{
                      @include ellipsisLine;
                      -webkit-line-clamp: 1;
                      line-height: 18px;
                      flex: 1;
                    }
                  }
                }
              }
            }
            .popupFoot {
              
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 20px;
              .info{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 20px;
                em{
                  color: #A6B0BE;
                  font-size: 12px;
                }
                span{
                  font-size: 20px;
                  font-weight: 400;
                  color: #A6B0BE;
                  b{
                    color: #219BF1;
                    font-weight: 700;
                  }
                }
              }
              button.btn{
                width: 213px;
                border-radius: 12px;
                height: 48px;
                font-size: 20px;
              }
            }
          }
        }
        &.quick {
          background: url("../images/svg/icon-quick-menu.svg") left top
            no-repeat;
          background-size: contain;

          .quickPopup {
            border-radius: 20px;
            background: #fff;
            width: 280px;
            height: 128px;
            padding: 20px;
            color: #0c0c0d;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
            position: absolute;
            right: 102px;
            top: 59px;
            font-size: 14px;
            font-weight: 600;
            z-index: 100;
            overflow: hidden;
            text-align: left;


            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;

            &.show {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
              transition: opacity 0.5s ease, transform 0.5s ease;

            }
            ul li {
              & > button {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                padding: 8px;
                color: #bec7cd;

                i {
                  margin-right: 8px;
                }

                i.new {
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background-color: #20c4f4;
                  position: absolute;
                  right: 0;
                  top: 15px;
                }

                i.iconMenu01 {
                  width: 24px;
                  height: 24px;
                  background: url("../images/svg/icon-menu02-off.svg") center
                    center no-repeat;
                  background-size: contain;
                }
                i.iconMenu02 {
                  width: 24px;
                  height: 24px;
                  background: url("../images/svg/icon-menu03-off.svg") center
                    center no-repeat;
                  background-size: contain;
                }
                &.on {
                  color: #4d545b;
                  i.iconMenu01 {
                    width: 24px;
                    height: 24px;
                    background: url("../images/svg/icon-menu02-on.svg") center
                      center no-repeat;
                    background-size: contain;
                  }
                  i.iconMenu02 {
                    width: 24px;
                    height: 24px;
                    background: url("../images/svg/icon-menu03-on.svg") center
                      center no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
        }
        &:hover,
        &.on {
          width: 40px;
          height: 40px;
          background-color: #00538a;
          border-radius: 12px;
        }
      }
    }
  }

  .headerSearch {
    text-align: center;
    height: 98px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .mainTitle {
      color: #fff;

      h2 {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 8px;
        font-family: "Wooridaum";
      }

      span {
        color: #b0d3ea;
        font-family: Wooridaum;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
      }
    }
    .searchWrap {
      position: absolute;
      bottom: -30px;
      width: 600px;
      height: 56px;
      border-radius: 28px;
      border: 4px solid #219bf1;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 20px;
      input[type="search"] {
        border: 0;
        outline: none;
        flex: 1;
        height: 40px;
        font-weight: 600;

        &::placeholder {
          color: #d6dee3;
        }
      }

      .iconSearch {
        width: 40px;
        height: 40px;
        background: url("../images/svg/icon-search.svg") center center;
        background-size: contain;
      }

      .searchList {
        border: 1px solid #219bf1;
        background-color: #fff;
        max-width: 100%;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 51px;
        min-height: 100px;
        text-align: left;
        padding: 20px;
        box-sizing: border-box;
      }
    }
  }
}

section.container {
  width: 1180px;
  margin: 70px auto;
  padding-bottom: 200px;

  .searchWrap {
    width: 600px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 28px;
    border: 4px solid #219bf1;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;
    input[type="search"] {
      border: 0;
      outline: none;
      flex: 1;
      height: 40px;
      font-weight: 600;

      &::placeholder {
        color: #d6dee3;
      }
    }

    .iconSearch {
      width: 40px;
      height: 40px;
      background: url("../images/svg/icon-search.svg") center center;
      background-size: contain;
    }
  }

  .infoWrap {
    width: 820px;
    margin: 0 auto 40px auto;
    display: flex;

    .infoCont {
      margin-left: 20px;
      border: 1px solid #dddddd;
      border-radius: 16px;
      background-color: #fff;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
      padding: 20px;
      width: 190px;
      height: 152px;

      &.notice {
        .iconNotice {
          width: 20px;
          height: 20px;
          background: url("../images/svg/icon-notice-20.svg") center center;
          background-size: contain;
        }
        background-color: #f6fcff;
        border: 1px solid #8bcfff;
      }
      &:first-of-type {
        margin-left: 0;
      }
      &.notice dl dd {
        @include ellipsisLine;
        -webkit-line-clamp: 4;
        line-height: 20px;
      }
      dl {
        dt {
          font-size: 12px;
          margin-bottom: 5px;
          color: #4abaf6;
          font-weight: 600;
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
        }
        dd {
          font-size: 14px;
          color: #0c0c0d;
          word-break: keep-all;
        }
      }
    }
  }

  h3.title {
    color: #0c0c0d;
    line-height: 24px;
    margin-bottom: 20px;
    b{
      color:#20C4F4;
    }

  }

  .totalTxt {
    color: #0c0c0d;
    margin-bottom: 20px;
    strong {
      color: #20c4f4;
    }
  }
  //나의큐레이터
  .curationContainer{

    .allChecked{
      border-radius: 8px;
      height: 44px;
      background-color: #fafafa;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      .btn.bgWhite{
        color: #000000;
        font-size: 14px;
        border-radius: 6px;
        border:1px solid #D5E0E7;
        min-width: 45px;
        height: 28px;
      }

    }

    .curationWrap{
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .curationBox{
        //float: left;
        width: 380px;
        height: 209px;
        border-radius: 12px;
        border: 1px solid #DDD;
        background: #FFF;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
        overflow:visible;

        &.checked{
          border-color: #219BF1;
        }



        &:last-of-type{
          margin-right: 0;

        }
        &:nth-of-type(3n){
          margin-right: 0;
        }

        .head{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          label{
            span{
              margin-right: 0;
            }
          }
        }

        .cont{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          & > div{
            flex: 1;
            color: #7F8896;
          }

          .txt{

            height: 140px;
            margin-right: 10px;
            span{
              @include ellipsisLine;
              -webkit-line-clamp: 4;
              line-height: 20px;
              font-size: 14px;
              overflow: hidden;
              height: 80px;
              margin-bottom: 20px;

            }

            select{
              width: 120px;
              height: 32px;
              font-size: 14px;
              appearance:auto;
              padding-right: 0;
            }
          }

          .list{
            background-color: #F9F9F9;
            padding: 5px;
            ul li{
              font-size: 12px;
              background: url("../images/svg/icon-folder.svg") left center no-repeat;
              background-size: 16px;
              padding-left: 20px;
            }
          }

        }
      }

    }
  }


}

.ant-spin-container {
  .iconPdf {
    width: 24px;
    height: 24px;
    background: url("../images/svg/icon-pdf.svg") center center;
    background-size: contain;
  }
  .iconWord {
    width: 24px;
    height: 24px;
    background: url("../images/svg/icon-word.svg") center center;
    background-size: contain;
  }
  .iconQuick {
    width: 24px;
    height: 24px;
    background: url("../images/svg/icon-quick.svg") center center;
    background-size: contain;
  }
  .iconLoading {
    width: 24px;
    height: 24px;
    background: url("../images/svg/icon-loading.svg") center center;
    background-size: contain;
  }
  .iconReportQuick {
    width: 24px;
    height: 24px;
    background: url("../images/svg/icon-report-quick.svg") center center
      no-repeat;
    background-size: contain;
  }
  .iconReport {
    width: 24px;
    height: 24px;
    background: url("../images/svg/icon-report-list.svg") center center
      no-repeat;
    background-size: contain;
  }
  .iconReportAdd {
    width: 24px;
    height: 24px;
    background: url("../images/svg/icon-report-add.svg") center center no-repeat;
    background-size: contain;
  }
  .iconKeepAdd {
    width: 24px;
    height: 24px;
    background: url("../images/svg/icon-keep-add.svg") center center no-repeat;
    background-size: contain;
  }

  span.loading {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7f8896;

    i + em {
      color: #0083ca;
    }
  }
  .report {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #7f8896;
    min-width: 40px;
    height: 40px;
    border-radius: 16px;

    i + em {
      color: #0083ca;
    }
  }
  button.report {
    &:hover {
      min-width: 40px;
      height: 40px;
      border-radius: 16px;
      background-color: #e7f2f9;
    }
  }

  button.txt {
    text-align: left;
    span.txt {
      font-size: 16px;
      @include ellipsis;
      color: #0c0c0d;
      font-weight: 600;
      margin-bottom: 5px;
    }
    span.sub {
      color: #7f8896;
    }
  }

  .ant-table-thead th,
  .ant-table-thead td,
  .ant-table-tbody th,
  .ant-table-tbody td {
    color: #7f8896 !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
  }

  .ant-table-thead th {
    background: #fff !important;
    border-bottom: 1px solid #e5e5e5 !important;

    &:before {
      display: none;
    }
  }
  .ant-table-tbody td {
    border-bottom: 1px solid #f1f1f1 !important;
    padding: 20px 10px !important;
  }

  .ant-table-column-sort {
    background-color: #f1f1f1;
  }

  .ant-table-column-sorters {
    justify-content: flex-start;
    align-items: center;
    .anticon-caret-up {
      display: none;
    }
    .anticon-caret-down {
      color: #0c0c0d;
      font-size: 12px;
    }
  }

  .ant-pagination {
    justify-content: center;
    & > li {
      height: 40px;
    }
    .ant-pagination-item-link {
      border: 1px solid #f1f1f1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      .anticon {
        color: #67809c;
        font-size: 15px;
        font-weight: 700;
      }
    }

    .ant-pagination-item-active {
      border: none;
      height: 40px;
      a {
        color: #0083ca;
        font-size: 14px;
        font-weight: 700;
        display: inline-block;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
} //end antd table

.reportContainer {
  ///padding-top: 100px;

  h2.reportTitle {
    border-bottom: 1px solid #eeeeee;
    background-color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    position: relative;

    .close {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 15px;
      right: 20px;
      background: url("../images/svg/icon-close.svg") center center no-repeat;
      background-size: contain;
      font-size: 0;
    }
  }
  h3.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .iconData {
      width: 20px;
      height: 20px;
      background: url("../images/svg/icon-preview-blue.svg") center center
        no-repeat;
      margin-right: 10px;
    }


  }
  .reportLayout {
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f5f5f5;

    & > div {
      width: 100%;
      //height: 100vh;
    }

    .reportMenu {
      overflow-y: auto;
      background-color: #597c93;
      color: #fff;
      padding: 40px 20px;
      width: 250px;
      font-size: 12px;
      // min-height: calc(100vh - 100px);
      height: calc(100vh - 140px);

      dl {
        margin: 20px 10px;

        dt {
          button {
            color: #fff;
            font-weight: 600;
            font-size: 12px;
          }
        }
        dd {
          margin-left: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          i.loading {
            width: 20px;
            height: 20px;
            background: url("../images/svg/icon-loading-20.svg") center center
              no-repeat;
            background-size: contain;
            margin-right: 5px;
          }
        }
      }

      button {
        height: 30px;
        padding: 0 10px;
        width: 100%;
        text-align: left;
        font-size: 16px;
        color: #a6b0be;
        margin: 3px 0;
      }

      button.disabled {
        &:hover {
          color: #a6b0be;
        }
      }

      .on,
      .focus {
        font-size: 16px;
        color: #fff;
      }

      .focus {
        border-radius: 8px;
        background-color: #fff;
        color: #0c0c0d;
        font-weight: 600;
        position: relative;
        &:after {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #20c4f4;
          position: absolute;
          right: 10px;
          top: 10px;
        }
        &:hover {
          color: #0c0c0d;
        }
      }
    }
    .reportContent {
      overflow-y: auto;
      width: 500px;
      height: calc(100vh - 160px);
      margin: 20px;

      .content {
        border: 1px solid #fff;
        border-radius: 12px;
        background-color: #fff;
        padding: 20px 14px;
        background-color: #fff;
        margin-bottom: 20px;

        &.allCheckd {
          border: 1px solid #219bf1;
        }

        .title {
          border-bottom: 2px solid #7996b7;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0 14px 0;
          margin-bottom: 20px;

          strong {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
          }
          label span {
            color: #0c0c0d;
          }
        }
        .cont {
          ul {
            & > li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              height: 48px;
              padding: 0 10px;
              border-radius: 6px;
              margin-bottom: 4px;

              .bookmark {
                width: 24px;
                margin-right: 10px;
                button {
                  width: 24px;
                  height: 24px;
                  background: url("../images/svg/icon-bookmark-off.svg") center
                    center;
                  background-size: contain;

                  &.on {
                    background: url("../images/svg/icon-bookmark-on.svg") center
                      center;
                    background-size: contain;
                  }

                  &.dim {
                    background: url("../images/svg/icon-bookmark-dim.svg")
                      center center;
                    background-size: contain;
                  }
                }
              }

              .source {
                height: 24px;
                display: inline-flex;

                i {
                  width: 24px;
                  height: 24px;
                  margin-right: 5px;
                  display: inline-block;

                  &.source01 {
                    background: url("../images/svg/icon-report-01.svg") center
                      center;
                    background-size: contain;
                  }
                  &.source02 {
                    background: url("../images/svg/icon-report-02.svg") center
                      center;
                    background-size: contain;
                  }
                  &.source03 {
                    background: url("../images/svg/icon-report-03.svg") center
                      center;
                    background-size: contain;
                  }
                }
              }

              .tit {
                display: flex;
                justify-content: space-between;
                flx: 1;

                width: 100%;

                .txt {
                  @include ellipsis;
                  width: 70%;
                }

                span + span {
                  display: inline-flex;
                  align-items: center;
                  flex: 1;
                }
                span + .fontSm {
                  justify-content: end;
                }

                i.iconLoading {
                  width: 16px;
                  height: 16px;
                  background: url("../images/svg/icon-loading-20-dim.svg")
                    center center;
                  background-size: contain;
                  margin-right: 3px;
                }
                i.iconLlm {
                  width: 16px;
                  height: 16px;
                  background: url("../images/svg/icon-llm.svg") center center;
                  background-size: contain;
                  margin-left: 5px;
                }
              }
            }
            & > li.disabled {
              color: #bec7cd;
              .bookmark {
                button {
                  width: 24px;
                  height: 24px;

                  background: url("../images/svg/icon-bookmark-dim.svg") center
                    center;
                  background-size: contain;
                }
              }
              .source {
                i {
                  background: none;
                }
              }
            }

            & > li.checked {
              background-color: #f5fbff;
            }
          }
        }
      }
    }
    .reportPreview {
      overflow-y: auto;
      flex: 1;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      height: calc(100vh - 162px);

      .priviewWrap {
        flex: 1;
        padding-bottom: 20px;
        padding-right: 10px;

        .nano-content {
          .content {
            border: 1px solid #ddd;
            border-radius: 12px;
            background-color: #fff;
            margin-bottom: 20px;
            overflow: hidden;

            .headTitle {
              display: flex;
              align-content: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              padding: 20px;
              color: #0c0c0d;

              &:before {
                content: "";
                background: #3da8f3;
                width: 6px;
                height: 20px;
                margin-right: 14px;
              }
            }
            .cont {
              padding: 20px;
            }
            .footerInfo {
              padding: 20px;
              background: #e7f2f9;
              display: flex;
              justify-content: space-between;
              align-items: center;
              display: flex;
              justify-content: space-between;
              align-items: center;
              word-break: keep-all;
              span {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                b {
                  color: #0075c2;
                  font-weight: 800;
                  font-size: 12px;
                }

                button {
                  background-color: #fff;
                  display: inline-flex;
                  word-break: keep-all;
                  min-width: 36px;
                  min-height: 36px;
                  padding: 14px 16px;
                  justify-content: center;
                  align-items: center;
                  border-radius: 18px;
                  margin-left: 10px;
                  font-size: 14px;
                  color: #0075c2;

                  &.iconDown {
                    background: url("../images/svg/icon-arrow-down.svg") center
                      center no-repeat;
                  }
                }
              }
              span + span {
                justify-content: flex-end;
                align-items: center;
              }

              button.iconLlm {
                width: 36px;
                height: 36px;
                background: url("../images/svg/icon-llm-xl.svg") center center;
                background-size: contain;
                margin-right: 10px;
              }
            }
          }
        }
      }

      .btnWrap {
        height: 60px;
        padding-bottom: 10px;
        padding-right: 10px;
      }
    }
  }
} //reportContainer

.btnWrap {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .btn {
    border-radius: $radius30;
    width: 220px;
    height: 60px;
    font-size: 20px;

    &.bgInfo {
      color: #4d545b;
    }
    &.bgPrimary {
      color: #fff;
    }
  }
}

.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: -9px !important;
  bottom: 0;
  left: 0;
}

.nano > .nano-pane {
  background: transparent !important;
  position: absolute;
  width: 4px !important;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity: 0.01;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #a6b0be !important;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* 공통 영역 - 기본 요소에 스크롤바 커스터마이징 적용 */
.scroll {
  /* Firefox용 스크롤바 스타일 */
  scrollbar-width: thin; /* thin, auto, none */
  scrollbar-color: #A6B0BE transparent; /* 막대 색상과 트랙 색상 */


}

/* WebKit 기반 브라우저용 스크롤바 스타일 */
.scroll::-webkit-scrollbar {
  width: 3px; /* 스크롤바 너비 (세로 스크롤) */
  height: 3px; /* 스크롤바 높이 (가로 스크롤) */
  border-radius: 4px;
}

/* 스크롤바 막대 (Thumb) */
.scroll::-webkit-scrollbar-thumb {
  background-color: #A6B0BE; /* 스크롤바 막대 색상 */
  border-radius: 4px; /* 막대 모서리 둥글게 */
  border: 3px solid transparent; /* 내부 여백 */
  background-clip: content-box; /* 내부 클립 */
  transition: background-color 0.3s ease;
}

/* 막대 위에 마우스를 올렸을 때 색상 변화 */
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #A6B0BE; /* hover 상태에서의 막대 색상 */
}

/* 스크롤바 트랙 (스크롤바 배경) */
.scroll::-webkit-scrollbar-track {
  background-color: transparent; /* 트랙(배경) 색상 */
  border-radius: 4px;
}

/* 트랙 안쪽에 여백을 주고 싶다면 */
.scroll::-webkit-scrollbar-track-piece {
  margin: 2px;
  background-color: #000; /* 내부 트랙 색상 */
}

/* 스크롤바의 코너(세로와 가로 스크롤이 교차하는 부분) 디자인 */
.scroll::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* 코너 색상 */
}


.tabContainer {
  position: relative;
  display: flex;
  align-items: center;

  & > button {
    background: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
    color: #A6B0BE;

    &.active {
      color: #0C0C0D;
      font-weight: 700;
    }
  }


  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #0C0C0D;
    transition: all 0.3s;
    width: 100px;
  }
}

